
@{
    ViewBag.Title = "AddBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="login" style="background-color: #123451">
    <h3 class="text-center text-white pt-5" style="color: #f07e13">Kitap Ekle</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                @using (Html.BeginForm("AddBlog", "Home", FormMethod.Post))
                {
                    <div class="form-group">
                        <label for="tittle  " style="color:#f07e13">BAŞLIK</label><br>
                        @Html.TextBox("tittle", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="subject" style="color:#f07e13">KONU</label><br>
                        @Html.TextBox("subject", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="content" style="color:#f07e13">İÇERİK</label><br>
                        @Html.TextBox("content", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="image" style="color:#f07e13">RESİM</label><br>
                        @Html.TextBox("image", null, new { @class = "form-control" })
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Ekle" />
                    </div>
                    <br />
                }
            </div>
        </div>
    </div>
</div>





@section addProduct{
    @Html.Action("AdminPropertiesSection", "Home")
}

