@using AspNetMvcWebSite.DataAccessLayer
@model DatabaseContext

@{
    ViewBag.Title = "DeleteBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">
    <div class="row">



        <div class="col-lg-9">
            <div class="row">

                <div class="col-md-6 pb-4">
                    <div class="d-flex">
                        <h3>KİTAPLAR</h3>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                @foreach (var book in Model.Books)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="@book.BookImage">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white mt-2" href=/Home/BookSingle/@book.Id><i class="far fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <h4 style="font:bold">@book.BookName<a href=/Home/BookSingle/@book.Id class="h3 text-decoration-none"></a></h4>
                                <h6>@book.Writer<a href=/Home/BookSingle/@book.Id class="h3 text-decoration-none"></a></h6>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li class="pt-2">
                                        <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                    </li>
                                </ul>

                                <p class="text-center mb-0">@book.Price.00 TL</p><br />
                                @using (Html.BeginForm("EditBook", "Home", FormMethod.Post))
                                {

                                    @Html.HiddenFor(b => b.Books.Find(book.Id).Id)
                                    <input type="submit" class="btn btn-danger" value="SİL" /><br />
                                    <p><a class="btn btn-success" href="/Home/UpdateBook/@book.Id">Güncelle</a></p>
                                }

                            </div>
                        </div>
                    </div>
                }


            </div>

        </div>

    </div>
</div>

