@using AspNetMvcWebSite.DataAccessLayer
@using AspNetMvcWebSite.Models.Entities
@model DatabaseContext

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">En Çok Okunanlar</h1>
            <p>
                Bir Ay İçerisinde En Çok Sipariş Edilen Kitaplar
            </p>
        </div>
    </div>
    <div class="row">
        
        @for (int i = 1; i <= 3; i++)
        {
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="@Model.Books.Find(i).BookImage" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">@Model.Books.Find(i).BookName</h5>
                <h6 class="text-center mt-3 mb-3">@Model.Books.Find(i).Writer</h6>
                <p class="text-center"><a class="btn btn-success">Sipariş Ver</a></p>
            </div>
        }

    </div>
</section>
<!-- End Categories of The Month -->
<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">En Çok İncelenen Kitaplar</h1>
                <p>
                    Sayfamızda En Çok Tıklanan Kitaplarımız
                </p>
            </div>
        </div>
        <div class="row">
            @for (int i = 1; i <= 3; i++)
            {
                <div class="col-12 col-md-4 p-5 mt-3">
                    <a href="#"><img src="@Model.Books.Find(i).BookImage" class="rounded-circle img-fluid border"></a>
                    <h5 class="text-center mt-3 mb-3">@Model.Books.Find(i).BookName</h5>
                    <h6 class="text-center mt-3 mb-3">@Model.Books.Find(i).Writer</h6>
                    <p class="text-center"><a class="btn btn-success">Sipariş Ver</a></p>
                </div>
            }
            
            
        </div>
    </div>
</section>
<!-- End Featured Product -->
